
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.res
*.manifest
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Nn]ode*/
[Ss]imulated*/
[Tt]etrahedralized*/
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*